[Unit]
Description=Apache Kafka (KRaft mode) Server
Documentation=http://kafka.apache.org/documentation.html
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart={{ start_kafka_server_metrics_path }} {{ server_properties_path }}
ExecStop={{ stop_kafka_server_path }}
Restart=on-failure
RestartSec=10
LimitNOFILE=100000
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target